# Ignore everything
*

# But not these files...
!.gitignore
!IconImage.webp
!app.py
!requirements.txt

# And not these directories...
!static/
!templates/

# Ensure the contents of the static and templates directories are included
!static/**
!templates/**